<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h2>Congratulations <%=username%> !</h2>
    <p>A new pokemon has been added to your pokedex</p>
    <p>Click <a href="/pokemon/<%=username%>">here</a> to see your added pokemons.</p>
</body>
</html>
